[Desktop Entry]
Version=1.0
Type=Application
Name=Notion
Exec=bin/notion
Icon=icon
Terminal=false
Categories=Education;Office;ProjectManagement;WordProcessor;Documentation;